User NodeRED/Beginner/Filtered CSV.json
[
    {
        "id": "6ad26cd275662c0b",
        "type": "tab",
        "label": "BeginnerFilt"
    },
    {
        "id": "8a562616e55c4786",
        "type": "mqtt in",
        "z": "6ad26cd275662c0b",
        "name": "MQTT In",
        "topic": "Cloudpoint/Updates",
        "qos": "1",
        "datatype": "json",
        "broker": "817e7c062684a4e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 320,
        "wires": [
            [
                "01a6c483596e4b1d"
            ]
        ]
    },
    {
        "id": "01a6c483596e4b1d",
        "type": "function",
        "z": "6ad26cd275662c0b",
        "name": "Filter",
        "func": "// Keys selection\nlet masterSelectedKeys = ['time', 'flag'];\nlet selectedKeys = masterSelectedKeys;\n\n// Check if payload exists and is an object\nif (!msg.payload || typeof msg.payload !== 'object') {\n    node.error(\"Expected msg.payload to be an object.\", msg);\n    return null;\n}\n\n// Filter the data based on the selected keys\nlet filteredData = selectedKeys.reduce((acc, key) => {\n    let value = key.split('.').reduce((o, k) => o && o[k], msg.payload);  // Nested keys support\n    acc[key.split('.').pop()] = value !== undefined ? value : '';  // Set to empty string if value is undefined\n    return acc;\n}, {});\n\n// Check if there is filtered data\nif (!Object.keys(filteredData).length) {\n    node.error(\"No matching data found for the selected keys\", msg);\n    return null;\n}\n\n// Retrieve the current Test1 from flow context (check for null or undefined)\nlet Test1 = flow.get('Test1') || '';\n\n// Get current timestamp in PST format (Date and Time with spacing)\nlet options = { timeZone: 'America/Los_Angeles', hour12: false };\nlet timestamp = new Date().toLocaleString('en-US', { ...options, year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit', second: '2-digit' });\n\n// If headers are not already added, add them (check once)\nif (!flow.get('csvHeadersAdded')) {\n    Test1 += `Date,Time,${masterSelectedKeys.join(',')}\\n`;  // Split \"Timestamp\" into \"Date\" and \"Time\"\n    flow.set('csvHeadersAdded', true);  // Mark that headers were added\n}\n\n// Append the new row with the timestamp as the first column\n// Ensure values align with masterSelectedKeys\nlet rowValues = masterSelectedKeys.map(key => filteredData[key] !== undefined ? filteredData[key] : '');  // Dynamically handle missing keys with empty strings\nTest1 += `${timestamp},${rowValues.join(',')}\\n`;\n\n// Update the Test1 in flow context (ensure accumulation)\nflow.set('Test1', Test1);\n\n// Set the filtered data as the payload for debugging purposes \nmsg.payload = filteredData;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "e2d507ccbab74373",
                "789599246d834109"
            ]
        ]
    },
    {
        "id": "e2d507ccbab74373",
        "type": "function",
        "z": "6ad26cd275662c0b",
        "name": "Prep CSV ",
        "func": "// Retrieve accumulated Test1 from flow context\nlet Test1 = flow.get('Test1') || '';\n\n// Check if there is data in Test1; if not, insert \"No data available\"\nif (!Test1) {\n    Test1 = 'No messages/data for the selected time interval\\n';\n}\n\n// Prepare folder path and filename\nlet flowName = 'BeginnerFilt';  // Adjust based on your dynamic flow name logic if needed\nlet date = new Date().toISOString().split('T')[0];  // Format: YYYY-MM-DD\n\n// Convert to PST time format\nlet options = { timeZone: 'America/Los_Angeles', hour12: false };\nlet time = new Date().toLocaleString('en-US', { ...options, hour: '2-digit', minute: '2-digit', second: '2-digit' })\n    .replace(/:/g, '-');  // Format: HH-MM-SS in PST\n\nlet folderPath = `/home/ec2-user/node-red/mount/s3/user-node-red-bucket/FlowData/${flowName}/${date}`;\nlet filename = `${folderPath}/${flowName}_${time}.csv`;\n\n// If this is a manual trigger or auto-trigger from inject node\nif (msg.triggerAuto || msg.triggerManual) {\n    // Assign folderPath and filename to msg for use in exec and file write nodes\n    msg.folderPath = folderPath;\n    msg.payload = Test1;\n    msg.filename = filename;\n\n    // Debug: check the file content and filename\n    node.warn(`Writing file: ${filename}\\nContent: ${Test1}`);\n\n    // Reset the Test1 in flow context after writing the file\n    flow.set('Test1', '');  // Reset CSV content after writing\n    flow.set('csvHeadersAdded', false);  // Reset headers flag to ensure headers are added for the next file\n} else {\n    // If not triggered by inject node, skip the file writing\n    return null;\n}\n\nreturn msg;  // Send to Exec Node for folder creation and then File Write Node\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 400,
        "wires": [
            [
                "4519197513244ab5"
            ]
        ]
    },
    {
        "id": "9419f9e3e3a749ce",
        "type": "inject",
        "z": "6ad26cd275662c0b",
        "name": "AutoSave File",
        "props": [
            {
                "p": "triggerAuto",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": "15",
        "topic": "",
        "x": 380,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "4519197513244ab5",
        "type": "file",
        "z": "6ad26cd275662c0b",
        "name": "Write to S3",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "789599246d834109",
        "type": "debug",
        "z": "6ad26cd275662c0b",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "23589ba8c4c94124",
        "type": "inject",
        "z": "6ad26cd275662c0b",
        "name": "ManualSave File",
        "props": [
            {
                "p": "triggerManual",
                "v": "true",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "e2d507ccbab74373"
            ]
        ]
    },
    {
        "id": "817e7c062684a4e0",
        "type": "mqtt-broker",
        "name": "Broker ",
        "broker": "a25z0fjr8cb2t-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "0b81ea9b73562c9f",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0b81ea9b73562c9f",
        "type": "tls-config",
        "name": "TLS-Config",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "certificate.pem.crt",
        "keyname": "private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]